img {
    height: 10%; 
    width: 10%;
    }
    body {
        background: mintcream;
    }

    h1 {
        font-family: 'Audiowide', cursive;
    }
    h2 {
        font-family: 'Audiowide', cursive;
    }